@import 'lobby';

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;

  a {
    text-decoration: none;
  }

  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
  }

  label {
    display: block;
  }

  nav {
    border: 1px solid black;
    margin: 1em;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  nav #logout {
    display: inline-block;
    font-size: .65em;
    margin-right: 2em;
  }

  // form div {
  //   margin: 1em;
  //   display: inline-block;
  // }

  input[type=text] .msg-input {
    width: 100%;
  }

  #dice {
    position: absolute;
    opacity: 0;

    #dice-container {

      .center_field {
        z-index: 102;
        opacity: 0;
      }
      .center_field.show {
        z-index: 102;
        opacity: 1;
      }
      #canvas {
        opacity: 0;
      }
      #canvas.show {
        z-index: 101;
        opacity: 1;
      }
    }
  }
  #dice.show {
    z-index: 101;
    opacity: 1;
  }
}

#app {
  width: 100%;
  z-index: 1;
}

.dragImg {
  z-index: -10;
}


#main, #app {
  width: 100%;
  height: 100%;
}

#hex-container {
  width: 100%;
}

#hex-container img {
  width: 100%;
}

#canvas-container {
  z-index: 20;
  width: 100%;
  height: 100%;
  // position: fixed;
}

#localVideo {
  width: 20%;
  margin-top: 7.1em;
  position: absolute;
  left: 0px;
  top: 0px;
}

#container_1 {
  margin-top: 7.1em;
  width: 20%;
  position: absolute;
  left: calc(100% - 20%);
  top: 0px;
}

#container_2 {
  width: 20%;
  position: absolute;
  left: 0;
  top: calc(100% - 22%);
}

#container_3 {
  width: 20%;
  position: absolute;
  left: calc(100% - 10em);
  top: calc(100% - 22%);
}

video {
  width: 100%;
  z-index: 20;
}

#room-container img {
  position: absolute;
}

canvas {
  position: fixed;
}

#room-message-component {
  width: 30%;
  height: 15em;
  margin-left: 30%;
  position: absolute;
  background-color: white;
  border-width: 2px;
  z-index: 100;
  border-style: solid;
  padding: 1em;

    &-option {
      display: -webkit-flex;
      display:flex;

    }
}

.invitation-form-background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px
}

.invitation-form-background-box{
      border: 6px solid black;
      border-radius: 5px;
      background: #fff;
      max-width: 500px;
      min-height: 300px;
      width: 400px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin: 0px auto;
      padding: 2em;
      text-align: center;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
}

#inviteFormSubmitBtn {
    width: 12%;
    display: inline-block;
    background: teal;
    color: #fff;
    font-weight: 100;
    border: none;
    height: 2.5em;
}


#invitationlist {
    display: flex;
    justify-content: space-between;

    &-nicknamelist{
      flex-direction: column;
    }
    &-invitedlist{
      flex-direction: column;
    }
}

#room-container {
  position: relative;
}

#room-message-component input {
  width: 85%;
  height: 2em;
  margin-bottom: 1em;
}

#room-message-component button {
    width: 12%;
    display: inline-block;
    background: teal;
    color: #fff;
    font-weight: 100;
    border: none;
    height: 2.5em;
}

#room-message-component h3 {
  margin: 0;
}

#message-view {
  height: 65%;
  overflow-y: auto;
  overflow-x: auto;
}

#room-message-component form {
  display: flex;
}

.container-main {
  height: 1000em;
}

#trash-can {
  width: 5em;
  position: absolute;
  right: 5px;
  z-index: 150;
}

#trash-can-hover {
  background: red;
  border-radius: 10px
}

.FileUpload {
  z-index: 50;
  margin: 15px;
}

.drop-group-container {
  display: flex
}

.group-dropzone {
  margin: 10px;
}
