.props {
	// height: 50px;
	width: -webkit-fill-available;
  font-family: "Open Sans", Trebuchet MS;
	font-size: xx-large;
  border-radius: 20px;
}

.login {
	background-color: #23272A;
	min-width: 100%;
	display: flex;

	@import 'splashvideo';

	form {
		max-width: inherit;
		margin: auto;
		z-index: 10;
		position: absolute;
		left: 34%;
    top: 25%;
    width: 35%;

		div {
			color:#99AAB5;
	    font-family: "Open Sans", Trebuchet MS;
			font-size: -webkit-xxx-large;

			label {
		    // font-family: "Open Sans", Trebuchet MS;
			}

			input {
				@extend .props;
				padding:10px;
				&:active {
					font-family: "Open Sans", sans-serif;
		      margin: 0;
		      color: #23272A;
		    }
		    &::placeholder {
		    	font-style: italic;
		    	font-size:large;
			  	color: gray;
				}
			}

			button {
				@extend .props;
				border: 2px solid #a1a1a1;
				background: #2C2F33;
				font-weight:bolder;
				color:#99AAB5;
				&:focus, &:hover {
					background-color: #99AAB5;
        	color: #23272A;
      	}
			}
		}
	}
}

