.splashscreen {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: fit-content;

	@import 'splashvideo';

	&-login-button {
		display: flex;
		justify-content: space-evenly;
		height: fit-content;

		button {
			border: 2px solid #a1a1a1;
			padding: 20px 50px;
			background: #2C2F33;
			border-radius: 20px;
			&:focus, &:hover {
				background-color: #99AAB5;
      	color: #23272A;
    	}

			a {
			  font-family: "Open Sans", Trebuchet MS;
				font-size: 100px;
				color: white;
			}
		}
	}
}
