.splashscreen {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	max-width: fit-content;
	position: absolute;
	min-width: 100%;

	@import 'splashvideo';

	&-login-button {
		display: flex;
		justify-content: space-evenly;
		height: fit-content;

		button {
			border: 2px solid #a1a1a1;
			padding: 20px 50px;
			background: #2C2F33;
			border-radius: 20px;
			position: absolute;

			&:focus, &:hover {
				background-color: #99AAB5;
      	color: #23272A;
    	}

			a {
			  font-family: "Open Sans", Trebuchet MS;
				font-size: 100px;
				color: white;
			}
		}

		#loginBtn {
			top: 25%;
		}

		#signupBtn {
			top: 55%;
		}
	}
}
